#app {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #909399;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.font-small {
    font-size: 12px;
}

.inline-block {
    display: inline-block;
}

.not-important {
    color: #C0C4CC;
}

.has-border {
    border: 1px solid #C0C4CC;
    border-radius: 4px;
    padding: 10px;
}

.round-border {
    border: 1px solid #C0C4CC;
    border-radius: 30px;
    padding: 10px;
}

.important-title {
    color: #D84315;
    font-weight: bold;
    font-size: 25px;
}
